# Dependencies
node_modules

# Next.js
.next
out

# Build outputs
dist
build

# Development
.env*
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Testing
coverage
.nyc_output

# Misc
*.log
*.md
!README.md
